@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.super-container {
    max-width: 350px;
    height: 570px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    overflow: hidden;
}

.heading {
    font-family: 'bangers';
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 2px;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(121, 0, 158);
    color: yellow;
    letter-spacing: 1px;
}

.video {
    margin-top: 0px;
    position:absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.buttons {
    font-family: 'bangers';
    font-size: 1rem;
    text-shadow: 1px 1px 2px black;
    color:rgb(255, 217, 1);
    width: 77px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    margin:5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    background-color: rgb(131, 0, 163);
    letter-spacing: 1px;
    cursor: pointer;
}

.buttons:active {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.button-play {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 280px;
}

.words {
    font-family: 'bangers';
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: yellow;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
    margin-top: 0px;
    letter-spacing: 1px;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(137, 0, 201);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    cursor: grab;
    margin-top: 5px;
}

.words:active {
    background-color: chartreuse;
    color: red;
    cursor: grabbing;
}

.box {
    margin-top: 5px;
    width: 120px;
    height: 50px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 30px;
    background-color: aliceblue;
}

img {
    width: 100px;
    height: 100px;
    margin-top: 380px;
    opacity: .5;
}

a {
    text-decoration: none;
    color: yellow;
}

